APP_NAME=SF Visual Pipeline API
APP_ENV=production
DATABASE_URL=sqlite:////app/data/db/sf_pipeline.db
ACTIVE_PROJECT=theTrap
PROJECTS_ROOT=/app/projects
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_FILE=/app/secrets/google-service-account.json
GOOGLE_SHOTMASTER_WORKSHEET=ShotMaster
GOOGLE_SCENE_LIST_WORKSHEET=sceneList
API_PREFIX=/api/v1
SCENE_ROOT=
PREVIEW_CACHE_DIR=/app/data/cache/previews
GOOGLE_SHEETS_CACHE_DIR=/app/data/cache/google_sheets
CACHE_SHEET_PREVIEWS=false
